<div class="progress">

    <div class="title-filter">
        <div class="title">Progress</div>
        <div class="filter">
          filter
        </div>
    </div>

    <div class="progress-bars">

       
            <div class="bar-course-name-advancement-icon" *ngFor="let progress of progressCourse;let i=index">

                <div class="bar-course-name-advancement" >

                    <div [ngClass]="{'yellow':i%3==0,'blue':i%3==1,'green':i%3==2}">
                        <p-progressBar [value]="calcul(progress.uploydedDoc,progress.totalDoc)"></p-progressBar>
                    </div>

                    <div class="course-name-advancement">
                        <div class="course-name"><p>{{progress.name}}</p></div>
                        <div class="advancement"><p>{{progress.uploydedDoc}} / {{progress.totalDoc}}</p></div>
                    </div>

                </div>

                <div class="icon">
                    <i class="pi pi-angle-right arrow" ></i>
                </div>

            </div>
       

    </div>

</div>