.timetable{
    width: 35rem;
    font-size: 1.3rem;
    .title-calendar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        
        .title{
            font-size: 2rem;
            font-weight: 600;
        }
        .calendar{
            font-weight: 500;
            cursor: pointer;
            &:hover{
                font-weight: 600;
            }
        }
    }

    .timetable-items{
        padding-left: 2rem;
        .timetable-item{}
        .date{

            padding: 1rem 0;
            
        }


        .timetable-cards{
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            border-radius: 1rem;
        }

        .timetable-card{
            display: flex;
            position: relative;

            .arrow{
                position: absolute;
                left: 0;
                top: 40%;

                .green{
                    color: var(--Green-Color);
                }
            }

            .hour{
                min-width: 3.75rem;
                text-align: center;
                margin: auto 0;
                padding: 0 1.5rem;
            }

            .line{
                height: 3rem;
                width: 0.5rem;
                background-color: black;
                margin: auto 0;
            }

            .bag-yellow{
                background-color: var(--Yellow-Color);
                border: rgb(31, 31, 31);
                border-width: 1px;
                border-style: solid;
            }

            .bag-gray{
                background-color: var(--Gray-Color);
                border: rgb(31, 31, 31);
                border-width: 1px;
                border-style: solid;
            }

            .color-yellow{
                color: var(--Yellow-Color);
            }
            .color-gray{
                color: var(--Gray-Color);
                font-weight: 500;
            }

            .lesson-title-duree-button{

               display: flex;
                padding: 1rem;
                width: 100%;
                justify-content: space-between;

                .lesson-title{
                   
                    margin: auto 0;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    .title{}
                    .lesson{}
                
                }

                .duree-button{
                    margin: auto 0;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    .duree{
                        text-align: end;
                    }

                  
                    .button{
                        color: var(--Green-Color);
                        border: 2px solid var(--Green-Color);
                        padding: 0.18rem 0.2rem 0.3rem 0.2rem;
                        border-radius: 0.5rem;
                        cursor: pointer;

                        &:hover{
                            background-color: var(--Green-Color);
                            color: white;
                            font-weight: 600;
                        }
                    }
                }
            }

        }

    }


}