

:root {
    --bg-color: #fff;
    --text-color: #000;
    --sidebar-bg-color: #fff;
    --sidebar-text-color: #000;
    
    --Green-Color: #12b886 ;
    --Blue-Color: #4c6ef5 ;
    --Yellow-Color: #fab005 ;
    --Red-Color: #c92a2a;
    --Gray-Color: gray ;
    --Dark-Gray-Color:#495057;
    --Background-Calendar-Color:white;
    --Text-Calendar-Color:#495057;
}

.dark-mode {
    --bg-color: #1c1b29 ;
    --text-color: #fff;
    --sidebar-bg-color: #1c1b29;
    --sidebar-text-color: #fff;
    --Background-Calendar-Color:#1c1b29;
    --Text-Calendar-Color:white;
}